@media (max-width: 576px) {
  .main-title {
    font-size: 32px;
}

.input-wrapper {
  
}

.section-title {
    font-size: 20px;
}

.input-section {
  flex: 60%;
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}


}

@media (max-width: 768px) {
  .header-banner img {
      display: none;
  }

  .main-title {
      font-size: 40px;
  }

  .section-title {
      font-size: 32px;
  }
  .input-wrapper {
    max-width: 340px;
  }

  .button-container {
    width: 220px;
  }

  .button-draw {
    padding: 10px 20px;
  }

  .button-draw img {
    margin-right: 20px;
}
}

